/* Decorations */

UnityDecoration {
    -UnityDecoration-extents: 28px 1px 1px 1px;
    -UnityDecoration-input-extents: 10px;

    -UnityDecoration-shadow-offset-x: 1px;
    -UnityDecoration-shadow-offset-y: 5px;
    -UnityDecoration-active-shadow-color: rgba (0, 0, 0, 0.75);
    -UnityDecoration-active-shadow-radius: 30px;
    -UnityDecoration-inactive-shadow-color: rgba (0, 0, 0, 0.3);
    -UnityDecoration-inactive-shadow-radius: 25px;

    -UnityDecoration-glow-size: 10px;
    -UnityDecoration-glow-color: #154478;

    -UnityDecoration-title-indent: 10px;
    -UnityDecoration-title-fade: 35px;
    -UnityDecoration-title-alignment: 0.0;
}

UnityDecoration.top {
    border: 1px solid #141414;
    border-bottom-width: 0;
    border-radius: 4px 4px 0 0;
    padding: 1px 6px 0 6px;

    box-shadow: inset 0 1px #262626;

    background-color: @theme_bg_color;
    background-clip: border-box;
    background-image: -gtk-gradient (linear, right top, right bottom,
                                     from (shade (@theme_bg_color, 1.1)),
to (@theme_bg_color));
   


    color: @theme_fg_color;
    text-shadow: -1px 0 alpha(black,0.22),  0 -1px alpha(black,0.22);
}

UnityDecoration.top:backdrop {
    border: 1px solid #161616;
    border-bottom-width: 0;
    background-color: @theme_bg_color;
    background-clip: border-box;
    background-image: none;
    color: #5d5d5e;
}

UnityDecoration.left,
UnityDecoration.right {
    background-color: #141414;
     background-image: none;

}

UnityDecoration.left:backdrop,
UnityDecoration.right:backdrop {
    background-color: #161616;
     background-image: none;
}

UnityDecoration.bottom {
    background-color: #141414;
     background-image: none;
   border-radius: 0px 0px 2px 2px;
}

UnityDecoration.bottom:backdrop {
    background-color: #161616;
     background-image: none;
   border-radius: 0px 0px 2px 2px;
}


/* Panel Style */

UnityPanelWidget,
.unity-panel {
    background-color: transparent;
    background-image: -gtk-gradient (linear, right top, right bottom,
                                     from (shade (@theme_bg_color, 1.1)),
to (@theme_bg_color));
    border-top-color: #1f1f1f;
    border-style: solid;
    border-width: 1px 0 0px 0;

    color: @theme_text_color;
    text-shadow: -1px 0 alpha(black,0.22),  0 -1px alpha(black,0.22);
}

UnityPanelWidget:backdrop,
.unity-panel:backdrop {
    color: #5d5d5e;
}

.unity-panel.menubar,
.unity-panel .menubar {
	color: shade(@menu_fg_color, 0.9);
}

.unity-panel.menuitem,
.unity-panel .menuitem {
    icon-shadow: 0 -1px alpha(black, 0.36);
	border-width: 0 0 1px 0;
}

.unity-panel.menubar:backdrop,
.unity-panel .menubar *:backdrop {
    shade(@menu_fg_color, 0.75);
}

.unity-panel.menubar.menuitem:hover,
.unity-panel.menubar .menuitem *:hover {
	color: @theme_selected_fg_color;
     background-color: transparent;
	
	border-style: inset;
    border-radius: 0;
    border-image: none;
    border-bottom-color: alpha(@theme_selected_bg_color, 0.92);
    background-image: -gtk-gradient (radial,
										center 1.0, 0,
										center 1.1, 0.7,
										from(alpha(@theme_selected_bg_color, 0.4)),
										to(transparent)),
						linear-gradient(to bottom,
                                      alpha(black, 0.0),
                                      alpha(black, 0.0) 30%,
                                      alpha(black, 0.12)
                                      );
	 /*box-shadow: 0 -1px alpha(@theme_selected_bg_color, 0.36) inset;*/
	 border-color: transparent;
    border-image: linear-gradient(to right,
                                  alpha(@theme_selected_bg_color,0.0),
                                  alpha(@theme_selected_bg_color,1.0) 43%,
                                  alpha(@theme_selected_bg_color,0.0)
                                  ) 0 0 1 0;
}
